@import "_normalize";
@import "_variables";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,400,600,700&display=swap&subset=latin-ext");

html {
   box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   color: $yellow;
   background: $violet;
}

.card {
   background: rgb(37, 36, 36);
   border: 1px solid $yellow;
   width: 200px;
   height: 200px;
   margin: 0 10px 0;

   &__title {
      display: flex;
      font-size: 15px;
      margin: 5px auto;
      color: white;
      justify-content: center;
      align-content: center;
      text-transform: uppercase;
   }
}
